.mainform {
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    left: 0;
    width: 100%;
}

.mainform textarea {
    caret-color: rgb(38, 0, 255);
    margin: 0 auto;
    
    border: 1px solid black;

    width: 100%;
    height: 80%;
}

.mainform button {
    display: block;
    padding: 10px;
    width: max-content;
    font-size: large;
    background-color: green;
}
.mainform button:hover{
    padding: 15px;
}