.mainform {
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    left: 0;
    width: 100%;
}



.mainform button {
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: max-content;
    font-size: large;
    background-color: green;
}
.mainform button:hover{
    padding: 15px;
}